# Data analysis and visualization
geopandas
duckdb
matplotlib
numpy
pandas
polars
patsy
pyarrow
scikit-learn
scipy
seaborn
statsmodels

# Machine learning model persistence and configuration
joblib
pyyaml
